.app-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.title {
  text-transform: uppercase;
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 48px;
  color: #fff;
  opacity: 0.2;
}
